.course-curriculum-card {
  .section {
    .chapter {
      background-color: #7b7b7b;
      padding: 0.5rem;
      h5 {
        color: $white;
        font-size: 1rem;
        margin-bottom: 0;
      }
    }

    .videos {
      .video {
        .name {
          width: 70%;
          margin: 0.2rem 0;
        }
        p {
          margin: 0;
        }
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .detail {
          display: flex;
          justify-content: space-between;
          width: 12rem;

          p {
            text-align: right;
            width: 2.5rem;
            margin-left: 0.5rem;
          }

          .icons {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            width: 8rem;
            align-items: center;

            button {
              font-size: 0.7rem;
              font-weight: 300;
            }

            i {
              margin-left: 0.3rem;
            }
          }
        }
      }
    }
  }
}
