footer {
  .payment-methods {
    display: flex;
    justify-content: center;

    img {
      height: 17px;
      margin: 0 0.2rem;
    }

    @include media-breakpoint-up(sm) {
      img {
        height: 27px;
        margin: 0 0.5rem;
      }
    }
  }
}
