body {
  font-size: 14px;

  main {
    padding-top: 5.5rem;
    min-height: 50vh;
  }
}

p,
li,
span {
  font-weight: 300;
  line-height: 1.6rem;
}

h1 {
  font-weight: 300;
  font-size: 1.8rem;
}

.card {
  border-top-width: thick;
}
